edge_project_id           = "gcp-prod-edp-edge-509423"
host_project_id           = "gcp-prod-edp-hub-vpchost"
region                    = "asia-northeast3"
network_name              = "vpc-prod-edp-hub"
subnet_name               = "subnet-prod-edp-l2comm-gke-an3"
node_cidr                 = "10.254.0.0/26"
pod_range_name            = "pods-prod-edp-l2comm-an3"
pod_cidr                  = "100.64.0.0/21"
inframgr_service_account  = "sa-l2comm-inframgr@gcp-prod-edp-edge-509423.iam.gserviceaccount.com"
