edge_project_id                  = "gcp-prod-edp-edge-509423"
host_project_id                  = "gcp-prod-edp-hub-vpchost"
data_project_id                  = "pjt-c-admin"
target_dataset                   = "dlk_sample"
target_table                     = "gcp_region_inventory"
region                           = "asia-northeast3"
network_name                     = "vpc-prod-edp-hub"
subnet_name                      = "subnet-prod-edp-l2comm-gke-an3"
pod_range_name                   = "pods-prod-edp-l2comm-an3"
service_cidr                     = "34.118.224.0/20"
control_plane_cidr               = "10.254.5.0/28"
cluster_name                     = "gke-l2comm-batch-an3"
artifact_repository              = "ar-l2comm-python"
helm_repository                  = "ar-l2comm-helm"
image_name                       = "python-bq-batch"
image_tag                        = "v1"
namespace                        = "l2comm-batch"
ksa_name                         = "ksa-l2comm-batch"
workflow_name                    = "wf-l2comm-gke-job"
vm_service_account               = "620081195575-compute@developer.gserviceaccount.com"
autopilot_node_service_account  = "541022739403-compute@developer.gserviceaccount.com"
cloudbuild_connection_name       = "github-l2comm"
cloudbuild_repository_name       = "Gcp_Managed_GKE_L2Comm02"
cloudbuild_trigger_name          = "trg-l2comm-python-image"
